<div class="row my-4">
  <div class="col-7">
    <h1 class="text-right">Detalle ruta</h1>
  </div>
  <div class="col-5 text-right">
    <button type="button" class="btn btn-outline-info"><%= link_to 'Volver', root_path %></button>
  </div>
</div>

<p><%= image_tag "https://maps.googleapis.com/maps/api/staticmap?center=Santiago,Chile&zoom=11&size=550x300&scale=2&maptype=roadmap#{@markers}&key=#{ENV['GOOGLE_MAPS_API']}", alt: "Map" %></p>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Nid</th>
      <th scope="col">Base</th>
      <th scope="col">Destino</th>
      <th scope="col">Hora inicio ruta</th>
      <th scope="col">Hora fin</th>
      <th scope="col">Carga total</th>
    </tr>
  </thead>
  <tbody>
    <% @map_stops.each do |stop|%>
    <tr>
      <td><%= stop.nid%></td>
      <td><%= stop.base %></td>
      <td><%= stop.destino%></td>
      <td><%= stop.llegada %></td>
      <td><%= stop.salida %></td>
      <td><%= stop.carga%></td>
    </tr>
    <%end%>
  </tbody>
</table>


