<% if @error != '' %>
  <div class="alert alert-danger" role="alert">
    <%= @error %>
  </div>
<% else %>
  <div class="alert alert-success" role="alert">
    Su ruta fue cargada con exito
  </div>
<% end %>

<h1 class="text-center">Status de ruta creada</h1>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Carga</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <% @map_stops.each do |stop| %>
    <tr>
      <td><%= stop%></td>
      <td><%= stop[:status]%></td>
    </tr>
    <%end%>
  </tbody>
</table>
<div class="text-right">
  <button type="button" class="btn btn-outline-info"><%= link_to 'Cargar ruta', new_path %></button>
  <button type="button" class="btn btn-outline-info"><%= link_to 'Ver rutas cargadas', root_path %></button>
</div>