<h1 class="text-center">Ruta creada</h1>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Nombre carga</th>
      <th scope="col">File</th>
      <th scope="col">Base</th>
      <th scope="col">Fecha</th>
      <th scope="col">Hora inicio</th>
      <th scope="col">Hora fin</th>
      <th scope="col">Carga</th>
      <th scope="col">Total viaje</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>  
    <% @stops.each do |stop| %>
      <tr>
        <td><%= stop%></td>
        <td><%= stop%></td>
        <td><%= stop %></td>
        <td><%= stop%></td>
        <td><%= stop%></td>
        <td><%= stop%></td>
        <td><%= stop%></td>
        <td><%= stop%></td>
      </tr>
    <%end%>
  </tbody>
</table>