<div class="row my-4">
  <div class="col-6">
    <h1 class="text-right">Rutas creadas</h1>
  </div>
  <div class="col-6 text-right">
    <button type="button" class="btn btn-outline-info"><%= link_to 'Cargar ruta', new_path %></button>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <%= search_form_for @q do |f|%>
      <div class="form-group">
        <%= f.label :route_name_or_file_name_or_base_cont, "Búsqueda por nombre importación, nombre archivo o base" %>
        <%= f.search_field :route_name_or_file_name_or_base_cont, class: 'form-control', placeholder: "Ingresa tu búsqueda" %>
      </div> 
      <div class="btn-group" role="group" aria-label="...">
        <%= f.submit "Buscar", class: "btn btn-outline-primary" %>
        <%= link_to "Limpiar la búsqueda", root_path, class: "btn btn-outline-primary"%>
      </div>
    <% end  %>    
  </div> 
</div>
<table class="table my-4">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Nombre de importación</th>
      <th scope="col">Nombre de archivo</th>
      <th scope="col">Base</th>
      <th scope="col">Fecha de ruta</th>
      <th scope="col">Hora inicio ruta</th>
      <th scope="col">Hora fin</th>
      <th scope="col">Carga total</th>
      <th scope="col">Tiempo de viaje total </th>
      <th scope="col">Detalles ruta </th>
    </tr>
  </thead>
  <tbody>  
    <% @map_routes.each do |stop| %>
      <tr>
        <td><%= stop.route_name%></td>
        <td><%= stop.file_name %></td>
        <td><%= stop.base %></td>
        <td><%= stop.date.strftime("%e-%m-%Y %H:%M") %></td>
        <td><%= stop.start_time %></td>
        <td><%= stop.delivery_time%></td>
        <td><%= stop.cargo%></td>
        <td><%= stop.route_time%></td>
        <td><%= link_to 'Ver detalle', stops_path(stop[:id]) %></td>
      </tr>
    <%end%>
  </tbody>
</table>

