<div class="row my-4">
  <div class="col-8">
    <h2 class="text-right">Carga de rutas</h2>
  </div>
  <div class="col-4 text-right">  
    <button type="button" class="btn btn-outline-info"><%= link_to 'Ver rutas cargadas', root_path %></button>
  </div>
</div>  
<div class="d-flex justify-content-center">
  <%= form_with(url: map_routes_path, html: {multipart: true}, local: true) do |f| %>
    <div class="form-group">
      <%= f.label :route_name %>
      <%= f.text_field :route_name, placeholder: "Nombre ruta", required: true,  minlength: 2 %>
    </div>
    <div class="form-group">
      <%= f.label :date %>
      <%= f.datetime_local_field :date, required: true %>
    </div>
    <div class="form-group">
      <%= f.file_field 'archivo', accept:".json", required: true %>
    </div>
    <div class="actions">
      <%= f.submit  "Cargar", class: 'btn btn-info' %>
    </div>
  <% end %> 
</div>


